$white-primary:#ecf0f1;
$black-primary:#222222;
$blue-primary:#e3edfd;
$blue-secondary:#1967d2;
$red-primary:#e79a9e;
$red-secondary:#de0510;
$orange-primary:#e67e22;
$green-primary:#beebd0;
$green-secondary:#01a847;
$gray-primary-1:#ececec;
$gray-primary:#d3d3d3;
$gray-secondary:#6b6b6b;
$gray-third:#494949;
