$primary-elevation:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$secondary-elevation:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$third-elevation: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

$primary-radius-border: 5px;
$secondary-radius-border: 2px;
$third-radius-border: 13px;



$primary-transition:all 900ms;